@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bangers&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bangers&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Bangers", system-ui;
}

.main {
  background: linear-gradient(174deg, #000000, #1d079a);
  color: white;
  padding: 90px 20px;
  min-height: 100vh;

  @include on-desktop {
    padding: 90px 40px
  }
}